/* Universal */

body {
  font-size: 13px;
  overscroll-behavior-y: none;
}

/* Loading spinner */

.waiter-overlay-content {
  position: absolute;
  top: 417px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Header */

.main-header > .logo {
  font-size: 16px;
}

/* Sidebar */

.main-sidebar {
  position: fixed;
}

/**** Uncomment for bulk data to hide sidebar tabs
.sidebar-menu {
  display: none;
}
*/

/**** Uncomment for single-cell data to format sidebar
.sidebar-menu i {
  margin-right: 5px;
}

.optgroup .option {
  padding-left: 20px;
}
*/

#page_legend {
  font-size: 11px;
  padding: 0 15px;
  color: lightgray;
  position: absolute;
  bottom: 15px;
}

#page_legend p {
  margin: 5px 0 0;
}

#page_legend span {
  font-weight: 700;
  color: #f0f0f0;
}

.footnote code {
  color: #2569c7;
  background-color: #f2f6f9;
}

/* Tables */

th {
  white-space: nowrap;
}

td[data-type='factor'] input,
td[data-type='character'] input {
  width: 100px !important;
}

.datatables {
  margin: 0 auto;
  height: auto !important;
}

.tbl-info {
  font-weight: 600;
}

.tbl-info:hover {
  color: gray;
}

/* Tab content */

.row .tab-content .tab-pane {
  overflow: scroll;
}

.row .tab-content .tab-pane img {
  height: 300px;
  margin: 0 auto;
  display: block;
}

.row .tab-content .tab-pane > .plotly {
  height: 300px !important;
}

.row .tab-content .tab-pane[data-value^="GSEA plot"] > .plotly {
  height: 400px !important;
}

.row .tab-content .tab-pane[data-value^="GSEA table"] tbody tr td:first-child {
  white-space: nowrap;
}

/**** Uncomment for DE dashboard
.row .tab-content .tab-pane[data-value="L2FC correlation"] > .plotly {
  max-width: 800px;
  width: 75% !important;
  margin: 0 auto;
}
*/

/**** Uncomment for stimulation dashboard
.row .tab-content .tab-pane.active[data-value="L2FC correlation"],
.row .tab-content .tab-pane.active[data-value="GO terms enrichment"] {
  display: flex;
  height: 400px;
}

.row .tab-content .tab-pane.active[data-value="GO terms enrichment"] img {
  height: auto;
}

.legendtitletext {
  font-size: 12px !important;
}
*/

/* Modules enrichment tab */

#biodomains {
  display: flex;
  justify-content: center;
}

#biodomains a {
  margin: 5px 10px 15px;
  padding: 5px 8px;
  background-color: #e9eef3;
  border: 1px solid #dce7f1;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
}

#biodomains a:hover {
  color: #3c8dbc;
  background-color: #dce7f1;
}

#biodomains .active {
  pointer-events: none;
}

#biodomains .active,
#biodomains .active:hover {
  color: white;
  background-color: #3c8dbc;
  border: 1px solid #3a82ac;
}
