/* Universal */

body {
  font-size: 13px;
  overscroll-behavior-y: none;
}

/* Loading spinner */

.waiter-overlay-content {
  position: absolute;
  top: 417px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Header */

.main-header > .logo {
  font-size: 16px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  height: 50px;
}

.navbar-nav .dropdown {
  margin-top: 5px;
  margin-right: 7px;
  font-size: 10px;
  line-height: 10px;
  text-align: right;
}

.navbar-nav .dropdown a {
  display: inline;
  padding: inherit;
  border: none;
}

/* Sidebar */

.main-sidebar {
  position: fixed;
}

/**** Uncomment for bulk data to hide sidebar tabs
.sidebar-menu {
  display: none;
}
*/

/**** Uncomment for single-cell data to format sidebar options
.sidebar-menu i {
  margin-right: 5px;
}

.optgroup .option {
  padding-left: 20px;
}
*/

#page_legend {
  font-size: 11px;
  padding: 0 15px;
  color: lightgray;
  position: absolute;
  bottom: 15px;
}

#page_legend p {
  margin: 5px 0 0;
}

#page_legend span {
  font-weight: 700;
  color: #f0f0f0;
}

.footnote code {
  color: #2569c7;
  background-color: #f2f6f9;
}

/* Tables */

th {
  white-space: nowrap;
}

.genes-list td[data-type='factor'] input,
.genes-list td[data-type='character'] input {
  width: 100px !important;
}

.datatables {
  margin: 0 auto;
  height: auto !important;
}

.tbl-info {
  font-weight: 600;
  cursor: default;
}

.tbl-info:hover {
  color: gray;
}

/* Tab content */

.row .tab-content .tab-pane {
  overflow: scroll;
}

.row .tab-content .tab-pane img {
  height: 300px;
  margin: 0 auto;
  display: block;
}

.row .tab-content .tab-pane > .plotly {
  height: 400px !important;
}

.row .tab-content .tab-pane[data-value="Summary table"] > .datatables {
  margin-bottom: 15px;
}

.row .tab-content .tab-pane[data-value^="GSEA table"] tbody tr td:first-child {
  white-space: nowrap;
}

/**** Uncomment for DE dashboard
.row .tab-content .tab-pane[data-value="L2FC correlation"] > .plotly {
  max-width: 800px;
  width: 75% !important;
  margin: 0 auto;
}
*/

/**** Uncomment for stimulation dashboard
.row .tab-content .tab-pane.active[data-value="L2FC correlation"],
.row .tab-content .tab-pane.active[data-value="GO terms enrichment"] {
  display: flex;
  height: 400px;
}

.row .tab-content .tab-pane.active[data-value="GO terms enrichment"] img {
  height: auto;
}

.legendtitletext {
  font-size: 12px !important;
}
*/

/* Collapsible tabs */

.nav-tabs-custom > .nav-tabs > li {
  border-bottom: 1px solid transparent;
  margin-bottom: 1px;
}

.nav-tabs-custom > .nav-tabs .gprofiler,
.nav-tabs-custom > .nav-tabs .gsea {
  margin-right: 0;
  white-space: nowrap;
}

.nav-tabs-custom > .nav-tabs .gsea.tab-group {
  margin-left: 5px;
}

.nav-tabs-custom > .nav-tabs .tab-group a,
.nav-tabs-custom > .nav-tabs .tab-group a:hover {
  color: white;
}

.nav-tabs-custom > .nav-tabs .gprofiler:not(.tab-group),
.nav-tabs-custom > .nav-tabs .gsea:not(.tab-group) {
  display: none;
}

.nav-tabs-custom > .nav-tabs .gprofiler.tab-group {
  background-color: #6ba4c6;
}

.nav-tabs-custom > .nav-tabs .gsea.tab-group {
  background-color: #95adbc;
}

.nav-tabs-custom > .nav-tabs .tab-group:hover {
  opacity: 0.8;
}

.nav-tabs-custom > .nav-tabs .gprofiler {
  border-bottom: 1px solid #6ba4c6 !important;
}

.nav-tabs-custom > .nav-tabs .gsea {
  border-bottom: 1px solid #95adbc !important;
}

/* Modules enrichment tab */

.modules {
  display: flex;
  justify-content: center;
}

.modules a {
  margin: 5px 10px 15px;
  padding: 5px 8px;
  background-color: #e9eef3;
  border: 1px solid #dce7f1;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
}

.modules a:hover {
  color: #3c8dbc;
  background-color: #dce7f1;
}

.modules .active {
  pointer-events: none;
}

.modules .active,
.modules .active:hover {
  color: white;
  background-color: #3c8dbc;
  border: 1px solid #3a82ac;
}
