@import url('https://fonts.googleapis.com/css?family=Source Sans Pro:400,600');

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f5f5f5;
  color: #5c5c5c;
}

h1 {
  width: 620px;
  height: 100px; 
  margin: 0px auto 0; 
  padding: 0px; 
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  background-color: #820000;
  color: #fff;
  line-height: 100px;
}

h2 {
  color: #B1040E;
}

ul {
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
  padding: 0;
  list-style-type: none;
}

li {
  margin-bottom: 2px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgba(92, 92, 92, 0.6);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border-bottom: 1px solid #444;
}

th, td {
  padding: 3px 0;
}

.flex-container {
  display: flex;
}

.flex-container div {
  flex-grow: 1;
}

.content {
  width: 600px;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 0.25rem;
}

.content > h2:not(:first-of-type) {
  margin-block-start: 2.5em;
}

